[user]
	email = kalabukdima@gmail.com
	name = Kalabuk Dmitriy
[core]
	editor = vim
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[diff]
	tool = vimdiff
[alias]
	st = status
	lg = log --graph --decorate
[merge]
	tool = vimdiff

[include]
    path = ~/config/.gitconfig.local
[pull]
	ff = only
