[user]
	email = kalabukdima@gmail.com
	name = Kalabuk Dzmitry
[core]
	editor = vim
	excludesFile = ~/.gitignore
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[diff]
	tool = vimdiff
[alias]
	st = status
	lg = log --graph --decorate
[merge]
	tool = vimdiff

[include]
	path = ~/config/.gitconfig.local
[pull]
	ff = only
[push]
	autoSetupRemote = true
[init]
	defaultBranch = master

[includeIf "gitdir:~/space/proxima/"]
	path = ~/space/proxima/.gitconfig
