[user]
	email = kalabukdima@gmail.com
	name = Dzmitry Kalabuk
[core]
	editor = vim
	excludesFile = ~/.gitignore
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[diff]
	tool = vimdiff
[alias]
	st = status
	lg = log --graph --decorate
[merge]
	tool = vimdiff

[include]
	path = ~/config/.gitconfig.local
[pull]
	ff = only
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = master

[includeIf "gitdir:~/space/sqd/"]
	path = ~/space/sqd/.gitconfig
[credential]
	helper = store
[advice]
	diverging = false
[rebase]
	autoStash = on
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
